
body{
    background-color: black;
    color: aliceblue;
}
.container
{
	width:1170px;
	margin:auto;
}
/*End Main Rulez*/
/*Start Header*/
#header
{
	overflow:hidden;
	padding-top:-5px;
	margin-top:0px;
   
	border-radius:10px;
	
}
#header .slider
{
	background:#ffffff;
	height:550px;
	background-image:url('https://images.pexels.com/photos/346553/pexels-photo-346553.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
	background-size:cover; /*css3*/
}
#header .slider .intro
{
	padding-top:200px;
	text-align:center;
	color:#FFF;
}
#header .slider .intro h1
{
	margin:0 auto;
	width:600px;
	border-top:4px solid #FFF;
	border-bottom:4px solid gold;
	padding:5px 0;
    color: wheat;
     font-family: sans-serif;
}

#header .slider .intro button
{
	background:#2ecc71;
	width:160px;
	margin-top:50px;
	padding:10px 20px;
	font-size:20px;
	font-weight:bold;
	border:2px solid #FFF;
	border-radius:10px;
	transition:.5s;
	z-index: 3;
}
#header .slider .intro button:hover
{
	background:#000;
	cursor:pointer;
	transform:rotateY(360deg);
}
#header .slider .intro a{
    text-decoration: none;
    color:#FFF;
    font-family: monospace;
    font-size: 19px;
}
#header .slider .intro a:hover{
    text-decoration: none;
    color:gold;
    font-family: monospace;
    font-size: 19px;
}

#header .navbar
{
	background:#252e30;
	color:#ffffff;
	overflow:hidden;
    padding: 0px;
    border:2px solid #FFF;
	border-radius:10px;
   
    

}

#header .navbar ul
	{
		list-style:none;
		padding-left:0;
		overflow:hidden;
		float:right;
        margin-right: 20px;
        
		
	}

#header .navbar ul li 
{
	display: inline-block;
	padding:10px;
    font-family:Papyrus, fantasy;
		
}
#header .navbar ul li a
{
	color:#FFF;
	text-decoration:none;
    margin-right: -10px
}
#header .navbar ul li.active a 
{
	color:#2ecc71;
	font-family:Papyrus, fantasy;
}
#header .navbar ul li a:hover
{
		color:#2ecc71;
		font-family:Papyrus, fantasy;
}
/*-----media query---------------------------------------------*/
@media (max-width: 575px) {
    .container{
        width:100%;
}
    
    #header .slider{
        background-size: cover;
        background-repeat: no-repeat
    }
    #header .slider .intro h1{
        width:250px;
    }
    #header .navbar{
	width:98%;
    }
     #header .navbar ul li 
{
    margin:10px 0;
    font-size: 9px;
}
    #header .navbar ul li a:hover{
        background-color:dimgray;
        font-size: 9px;
    }
    
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) { 
.container{
        width: 100%;
    }
     #header .navbar ul li 
{
    margin: 10px 0;
    font-size: 14px;
}
    #header .slider .intro h1{
        width:450px;
    }

    }


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
    
    .container{
        width:100%;
       
    }
    #header .navbar{
	
    padding-right: 50px;
    }
    
     #header .navbar ul li 
{
    margin:10px 0;
    
    
}
    #header .slider .intro h1{
        width:450px;
        
    }

    }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 

.container{
        width:100%; 
    }
#header .navbar{
    padding-right: 5%;
    }
     #header .navbar ul li 
{
    margin-left:10px;
    
    
}
    
}

/*----------------------------------------------------------------*/
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.container{
        width:100%;
    
    }
    #header .navbar{
    padding-right: 5%;
    }
     #header .navbar ul li 
{
    margin-left:20px;
    
    
}
}
/*--------------------------------------------------------------------------*/
#page{
    width:auto;
    height: auto;
	margin:auto;
    
	border-radius:10px;
}
h2{
    text-align: center;
    text-decoration: underline;
}
.p{
    overflow:hidden;
	padding-top:120px;
	padding-bottom:30px;
}
.p1 ,.p3{
    float: left;
    width:49%;
    border:2px solid #FFF;
	border-radius:10px;
    height: 550px;
    
}

.img{
    margin-left: 35%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.p .ph , .p .ms , .p .wb{
    padding-top:3px;
    margin-left: 55%;
    width: 30px;
}

.p2{
    padding-top:10%;
    padding-bottom: 50px;
    width:49%;
    height: 500px;
    margin-left: 25%;
    border:2px solid #FFF;
	border-radius:10px;
    
}
.p2 img{
    margin-left: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.p .call, .p .message, .p .link {
    padding: 2px;
    margin-left: 45%;
     font-family: cursive;
    
}
 .p2 .ms , .p2 .wb{
    padding:8px;
    margin-left: 48%;
    width: 30px;
}
 
 .p2 .message, .p2 .link {
    padding: 2px;
    margin-left: 40%;
      font-family: cursive;
    
}
.p .call:hover, .p .message:hover, .p .link:hover ,.p2 .message:hover, .p2 .link:hover {
    color: gold;
}
#page .info{
    display: inline;
    padding-top: 30%
    
}
.social{
    padding-top:3px;
    margin-left: 53%;
    width: 30px;
}
.p2 .social{
     padding-top:10px;
    margin-left: 48%;
    width: 30px;
}
.social .fa-facebook
{
	font-size:25px;
	color:#FFF; 
	background:#3B5998; 
	border-radius:50% ; 
	width:50px;
	height:50px;
	line-height:50px;
	transition:.5s;
    text-align: center;
    margin-top: 10px;
	
}
.social .fa-facebook:hover
{
					
	transform:rotateY(360deg);
	color:#FFF;
	background:#3B5998;
}
/**-----------media query--------------------*/
@media (max-width: 575px) {
    .p1{
        width: 99%;
    }
    .p3{
       width: 99%; 
    }
    .p2{
        display: block;
        width: 99%;
        padding:0;
        margin: 0;
        margin-top: -30px;
    }
    .img{
    margin-left: 35%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 130px;
}
    .p2 img{
    margin-left: 35%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 130px;
}
    .p .ph , .p .ms , .p .wb{
    padding-top:3px;
    margin-left: 44%;
    width: 30px;
}
    .p .call, .p .message, .p .link {
    padding: 2px;
    margin-left: 34%;
    
}
    .p2 .ms , .p2 .wb{
    padding:8px;
    margin-left: 42%;
    width: 30px;
}
 
 .p2 .message, .p2 .link {
    padding: 2px;
    margin-left: 34%;
    
}
    .social{
    padding-top:3px;
    margin-left: 42%;
    width: 30px;
}
    .p2 .social{
    padding-top:10px;
    padding-bottom: 20px;
    margin-left: 42%;
    width: 30px;
}
   
}
/************/
@media (min-width: 576px) and (max-width: 767px) { 
 .p1{
        width: 49%;
    }
    .p3{
       width: 49%; 
    }
    .p2{
        display: block;
        width: 49%;
        padding:0;
        margin-left: 25%;;
        margin-top: -10px;
    }
    .img{
    margin-left: 25%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 160px;
}
    .p2 img{
    margin-left: 28%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 160px;
}
    .p .ph , .p .ms , .p .wb{
    padding-top:3px;
    margin-left: 40%;
    width: 30px;
}
    .p .call, .p .message, .p .link {
    padding: 2px;
    margin-left: 30%;
    
}
    .p2 .ms , .p2 .wb{
    padding:8px;
    padding-bottom: 0;
    margin-left: 40%;
    width: 30px;
}
 
 .p2 .message, .p2 .link {
    margin-left: 28%;
    
}
    .social{
    padding-top:3px;
    margin-left: 38%;
    width: 30px;
}
    .p2 .social{
    padding-top:10px;
    padding-bottom: 20px;
    margin-left: 40%;
    width: 30px;
}
   
}
/*-----------------*/
@media (min-width: 768px) and (max-width: 991px) { 
.p1{
        width: 49%;
    }
    .p3{
       width: 49%; 
    }
    .p2{
        display: block;
        width: 50%;
        padding:0;
        margin-left: 25%;;
        margin-top: -10px;
    }
    .img{
    margin-left: 25%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 160px;
}
    .p2 img{
    margin-left: 20%;
    padding-bottom: 8px;
    padding-top: 10px;
    width: 190px;
}
    .p .ph , .p .ms , .p .wb{
    padding-top:3px;
    margin-left: 40%;
    width: 30px;
}
    .p .call, .p .message, .p .link {
    padding: 2px;
    margin-left: 30%;
    
}
    .p2 .ms , .p2 .wb{
    padding:8px;
    margin-left: 40%;
    width: 30px;
}
 
 .p2 .message, .p2 .link {
    padding: 2px;
    margin-left: 30%;
    
}
    .social{
    padding-top:3px;
    margin-left: 38%;
    width: 30px;
}
    .p2 .social{
    padding-top:10px;
    padding-bottom: 20px;
    margin-left: 40%;
    width: 30px;
}
}

/*--------------------------------------------------------------------------*/

/*start portfolio*/
.portfolio
{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
    border:2px solid #FFF;
	border-radius:10px;
}
.portfolio h1 
{
	margin-top:20px;
	margin-bottom:50px;
    color: gold;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
}
.portfolio p 
{
	margin-bottom:50px;
	letter-spacing:1px;
	line-height:1.7;
     font-family: cursive;
}
.portfolio .our-work
{
	overflow:hidden;
}
.portfolio .our-work > div
{
	float:left;
	width:33.33333%;
	margin-bottom:5px;
	margin:10x;
}
.portfolio .our-work > div img
{
	width:92%;
    height: 150px;
    background-size: cover;
	margin:10px;
	padding:3px;
	background:#FFF;
	border:1px solid #CCC;
	cursor:pointer;
	box-shadow:5px 5px 8px #191f21
}
/*------media query -------*/
@media (max-width: 575px) { 
.portfolio h1{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767px) { 
    .portfolio h1{
        text-align: center;
    }
}
/*--------------------------*/


/*End portfolio*/
#footer{
   
	overflow:hidden;
	background:#191f21;
	color:#4b5456;
	padding:10px 0 ;
	text-align:center;
    color: aliceblue;
    border:2px solid #FFF;
	border-radius:10px;
    font-family: cursive;
}
#footer .info .link1{
    margin-left: 20%;
    font-family: cursive;
    
}
#footer .info .link2{
    margin: 50px;
    font-family: cursive;
}
#footer .address{
    margin-left: 25%;
    padding: 20px;
    color: gold;
    margin: 10px;
    font-family: cursive;
    
}
#footer .info a , #footer .info p {
    display: inline;
    padding-right: 80px;
    padding-left: 30px;
    color: aliceblue;
    
}
#footer .info a:hover , #footer .info p:hover {
    color: gold
}
#footer span {
    color: gold;
}


/*-------------media query - ---------------------------*/
@media (max-width: 575px) { 
    #footer .info {
        margin-left: 20px;
    }
    #footer .info .link1{
        margin: 10px;
        margin-left: 0
        
    }
    #footer .info .link2{
        padding-top: 10px;
        margin-left: 14%;
    }
    #footer .info p{
        text-align: center;
        padding-top: 10px;
        margin-left: 0
    }
}
/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {  
 #footer .info .link1{
        
        margin-left: -30px;
     margin-right: -40px;
        
    }
    #footer .info .link2{
        margin-left: -30px;
        margin-right: -60px;
    }
    #footer .info p{
        margin-right:-70px;
    }
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 

    
 #footer .info .link1{
    margin-left: -30px
    
}
#footer .info .link2{
    margin-right: -30px;
     margin-left: -60px
}
#footer .info p{
    margin-left:-5px
        
    }
}
/*----------------------------------------------------------------*/

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 

#footer .info .link1{
    margin-left: 0;
    
}
#footer .info .link2{
    margin-right: 0px;
}
#footer .info p{
    margin-left:0px
        
    }
}

/*----------------------------------------------------------------*/

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    

}

/*----------------------------------------------------------------*/